@charset "UTF-8";
/* base */
body {
    color: #333;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.8;
    letter-spacing: 0.1em;
}

/* layout */
.l_container-lg {
    width: 80%;
    padding: 0 16px;
    margin: 0 auto;
}

.l_container-sm {
    max-width: 960px;
    margin: 0 auto;
}

.l_contents {
    padding: 120px 0;
}

.l_header {
    height: 64px;
    width: 100%;
    padding: 0 16px;
    top: 0;
    left: 0;
    position: absolute;
    color: #fff;
}

.l_header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    z-index: 100;
}

.l_header-nav_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.l_header-nav_item {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

/* module */
.m_section_title-sub {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.m_section_title-jp {
    text-align: center;
    margin-top: 8px;
}

.m_section_title-jp::after,
.m_section_title-jp::before {
    content: "-";
}

.m_hamburger {
    width: 40px;
    height: 24px;
    position: relative;
    z-index: 100;
}

.m_hamburger-bar {
    width: 100%;
    height: 3px;
    position: absolute;
    background: #fff;
}

.m_hamburger-bar:first-child {
    top: 0;
    transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
}

.m_hamburger-bar:last-child {
    top: 100%;
    transform: translate(-50%, -100%);
}

.m_hamburger_txt {
    margin: 5px 0;
    font-size: 9px;
}

/* .top_kv */

.top_kv {
    height: 100vh;
    background: 
    url(../img/kv.jpg) center top/ cover;
    
}

.top_kv-inner {
    position: relative;
    height: 100%;
}

.top_kv_box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top_kv_copy {
    font-family: 'Bigshot One', serif;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .top_kv_copy {
        font-size: 60px;
    }
}

.top_kv-scroll {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    text-align: center;   
}

/* .top_about */
.top_about_post {
    margin: 48px auto 0;
}

.top_about_profile {
    margin: 0 auto;
    width: 80%;
}

.top_pro-lang {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 2px;
    padding-top: 16px;
    
}

.top_lang {
    color: #fff;
    font-size: 12px;
    padding: 4px 16px;
    background: #BD7474;
    border-radius: 16px;
}

/* top_work */
.top_work_list {
    margin: 40px auto 0;

}

@media screen and (min-width: 768px) {
    .top_work_list {
        display: flex;
        gap: 40px;
        justify-content: center;
    }
}

.top_work_item {
    margin: 0 auto;
}

.top_work_item:not(:first-child) {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .top_work_item:not(:first-child) {
        margin-top: 0;
    }
}

.top_work_content {
    margin-top: 24px;
}

.top_work-title {
    font-weight: bold;
}

.top_work_desc {
    font-size: 12px;
    margin-top: 8px;
}

/* contact */
.contact_form {
    padding: 0 16px;
}

.contact_form_list {
    max-width: 480px;
    margin: 0 auto;
}

.contact_form_heading {
    font-weight: bold;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.contact_form_heading:not(:first-child) {
    margin-top: 64px;
}

.contact_form_required {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 48px;
    height: 24px;
    background: #BD7474;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_form_detail {
    margin-top: 8px;
}

.contact_form_detail__other {
    margin-top: 8px;
}

.contact_form_input {
    font-size: 16px;
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact_form_example-wrapper {
    text-align: right;
    height: 28px;
    margin-top: 8px;
}

.contact_form_example {
    color: #707070;
    font-size: 14px;
}

.contact_form_textarea {
    font-size: 16px;
    width: 100%;
    height: 240px;
    padding: 8px;
    border: 1px solid #ccc;
}

.contact_form_btn-wrapper {
    margin-top: 64px;
}

.contact_form_btn {
    width: 100%;
    height: 100%;
    border-radius: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_form_btn-more {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #BD7474;
    background: #BD7474;
    height: 64px;
    cursor: pointer;
    max-width: 480px;
    margin: 0 auto;
}

/* footer */
.l_footer {
    height: 56px;
    margin-top: 80px;
    background: #947171;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l_footer-copyright {
    color: #fff;
}

.l_footer-copyright_txt {
    font-size: 14px;
}

/* javascript */
.js_body.is-active {
    overflow: hidden;
}

.js_navigation {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.js_navigation.is-active {
    opacity: 1;
    pointer-events: inherit;
}

.js_hamburger.is-active {
    opacity: 1;
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
    top: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
    opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
}

/* js_opening */

* {
    padding: 0;
    margin: 0;
  }
  
  .c-loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #947171;
    z-index: 999;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .c-loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -10px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
  }
  
  .c-loader-container span {
    display: block;
    background: #000;
    width: 100px;
    height: 5px;
    margin-top: 5px;
    animation: load 2s infinite;
    border-radius: 5px;
  }
  
  .c-loader-container span:nth-child(2) {
    animation-delay: 100ms;
  }
  
  .c-loader-container span:nth-child(3) {
    animation-delay: 200ms;
  }
  
  @keyframes load {
    50% {
      width: 5px;
      margin-right: 95px;
      opacity: 0.1;
    }
  }
  
  /* メインコンテンツ */
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      hsl(180, 80%, 40%),
      hsl(240, 80%, 60%),
      hsl(300, 80%, 40%)
    );
    background-size: 400% 400%;
    animation: AnimationName 10s ease infinite;
  }
  
  @keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
